:root{
    --bg-a: #07061f;
    --bg-b: #160b3b;
    --bg-c: #0b2a5a;

    --text: #009dff;
    --muted: #c8cde6;
    --accent: #4aa3ff;

    --max: 1200px;
    --h: 64px;

    /*font-size: 16px;*/
}

*{ box-sizing: border-box; }

html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

body{
    display: block;
    min-height: 100vh;
    color: var(--text);

    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    pointer-events: none;
    z-index: -1;
}

html { font-size: 16px; }

@media (min-width: 480px) { html { font-size: 17px; } }
@media (min-width: 860px) { html { font-size: 18px; } }
@media (min-width: 1200px){ html { font-size: 19px; } }