.resume-page {
    padding: 180px;
}

.resume-frame {
    height: 80vh;
    width: 75%;
    align-content: center;
    margin: auto;
    justify-content: center;
}

.resume-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.resume-links {
    margin-top: 12px;
    text-align: center;
}

.resume-links a {
    text-decoration: none;
}

.resume-links a:hover {
    text-decoration: underline;
}
